{% extends "ecomm/base.html" %}

{% load static %}

{% block content %}

<!-- food section -->
{% if products %}
<section class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Our Menu
      </h2>
    </div>

    <div class="filters-content">
      <div class="row grid">
        {% for product in products %}
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  
                  {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.product_name }}">
                  {% else %}
                    <img src="{% static 'images/no-image.png' %}" alt="No image available">
                  {% endif %}
                </div>
                <div class="detail-box">
                  <h5>
                    <a href="{% url 'product_detail' product.id %}">{{ product.product_name }}</a>
                  </h5>
                  <p>
                    {{ product.product_description }}
                  </p>
                  <div class="options">
                    <h6>
                      ${{ product.product_price }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      
      {% comment %} <div class="btn-box">
        <a href="{% url 'product_list' %}">
          View More
        </a>
      </div> {% endcomment %}
    </div>
  </div>
</section>
{% else %}
    
{% endif %}

<!-- end food section -->

<!-- about section -->

{% endblock %}